



<!DOCTYPE html>
<html>
<head>
    <title>Structured Content </title>
    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <div id="menu">
        @RenderBody()
    </div>

</body>
</html>