/*================
    UM.BRR.ELLA
=================*/

@font-face {
  font-family: avenir;
  src:  url('Avenir-Medium-webfont.woff') format('woff'),
        url('AvenirLTStd-Book.otf') format('otf');
}

body {
  font-family: avenir;
  background-image: url("./assets/images/pic-stars.png");
  background-color: #e3e3e3;
  margin: 0px;
}
/*==============
    HEADER  
===============*/
header {
  color: #000000;
  display: block;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  padding-top: 0px;
  top: -55px;
  z-index: 1;
  
}



.graph-compy {
  width: 100%;
}

/*  SPAN    */
.nav-graph-head-span {
  max-height: 30px;
  display: flex;
  justify-content: center;
}

/*  NAVBAR    */
.nav-cntr-main {
  font-size: 1.2em;
  width: 60%;
  margin: auto;
  padding-top: 0px;
}

.nav-cntr-div {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  display: inline-block;
  margin: auto;
}
/*================
=====  BULK  =====  
=================*/


/*..............
  DAY / VENUE 
 ...............*/
.main-day {
  border: 2px solid #dddddd;
}

.day-title {
  padding-left: 0px;
  border-bottom: 2px solid #222222;
  width: 120px;
  margin-left: 20px
}
.day-header {
  border: 2px solid #dddddd;
  font-size: 1.4em;
}

.day-date {
  font-size: 1.1em;
  padding-left: 10px;
}

.day-cntr {
  border: 2px solid #dddddd;
}

.day-venue {
  border: 2px solid #dddddd;
  font-size: 3em;
}
/*....................
   Lineup Container
.....................*/
.day-cntr-lineup {

  border: 2px solid #dddddd;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 6px;
  grid-row-gap:6px;
  /*background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.8),
    rgba(97, 97, 97, 0.808));
    /*
  background-color: red; /* For browsers that do not support gradients */
  /*background-image: linear-gradient(to bottom right, red, yellow); /* Standard syntax (must be last) */

}

.lineup-cntr-band {
  border: 2px solid #dddddd;
  justify-content: center;
  padding: 10px;

}

.band-cntr-face {
  border: 2px solid #dddddd;
  display:block;
}

.bandPic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.bandTitle {
  display: block;
  font-size: 2em;
  padding: 10px;
  text-align: center;
}

.band-cntr-body {
  display:none;
}



.bandBio {
  width: auto;
  margin-left: 20px;
}

/*===============
    FOOTER    
===============*/
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  color: #dddddd;
  text-align: center;
}



/*===================
      PLATFORMS
====================*/

/*  Mobile/Platforms */
.graph-mobile {
  display: none;
}

@media screen and (max-width: 330px) {

}

@media screen and (max-width: 380px) {

}

@media screen and (max-width: 420px) {

}

@media screen and (max-height: 820px) and (min-height:795px) {

}


  /*
  #graph-header { background-image: url("./assets/designs/mexicadelia_crop_HeaderFull-4web.jpg");}
  #graph-lineUp { background-image: url("./assets/designs/mexicadelia_crop_BodyFull-4web");}
  #graph-bar { background-image: url("./assets/designs/mexicadelia_crop_BarDivide-4web.jpg");}

  #graph-header {display: none;}
  #graph-lineUp {display: none;}
  #graph-bar {display: none;}
*/


/*
<header> <div class=”smallHeader”> <img src="img/MB2.png" alt="Mobile Image"/> </div>

<div class=”mediumHeader”> <img src="img/TB2.png" alt="Tablet Image"/> </div>

 <div class=”bigHeader”>
      <img src="img/B2.png" alt="Desktop Image"/>
 </div>
</header>

CSS Styling

Main CSS

.smallHeader { background-image: url (“img/MB2.png”); display: block; }
.mediumHeader { background-image: url (“img/TB2.png”); display: none; }
.bigHeader { background-image: url (“img/B2.png”); display: none; } Fluid CSS

@media screen and (min-width: 480px) {
  .smallHeader { background-image: url (“img/MB2.png”); display: none;}
  .mediumHeader { background-image: url (“img/TB2.png”); display: block; }
  .bigHeader { background-image: url (“img/B2.png”); display: none; }
}

@media screen and (min-width: 700px) {
  .smallHeader { background-image: url (“img/MB2.png”); display: none;}
  .mediumHeader { background-image: url (“img/TB2.png”); display: none; }
  .bigHeader { background-image: url (“img/B2.png”); display: block; }

}
