/*================
    UM.BRR.ELLA
=================*/

@font-face {
  font-family: avenir;
  src:  url('Avenir-Medium-webfont.woff') format('woff'),
        url('AvenirLTStd-Book.otf') format('otf');
}

body {
  font-family: avenir;
  background-color: #3d3d3d;
  margin: 0px;
}
/*==============
    HEADER  
===============*/
header {
  color: #000000;
  display: block;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  padding-top: 0px;
  top: -55px;
  z-index: 1;
}

.graph-head {
  width: auto;
}
.graph-compy {
  width: 100%;
}

/*  SPAN    */
.nav-graph-head-span {
  max-height: 30px;
  display: flex;
  justify-content: center;
}

/*  NAVBAR    */
.nav-cntr-main {
  font-size: 1.2em;
  width: 60%;
  margin: auto;
  padding-top: 0px;
}

.nav-cntr-div {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  display: inline-block;
  margin: auto;
}
/*===============
    BULK    
===============*/

.main-day {

}

.day-header {

}

.day-body {

}

.day-venue {

}

.day-band {
display: block;
align-content: center;
padding: 10px;
}

.day-band-title {
display: inline-flex;
font-size: 2em;
padding: 10px;
}

.day-band-body {
display: inline-flex;
max-height: 20vh;
}

.bandPic {

}

.bandBio {
width: 50%;
margin-left: 20px;
}

/*===============
    FOOTER    
===============*/
#footer {
position: fixed;
bottom: 0;
width: 100%;
background-color: #000000;
color: #dddddd;
text-align: center;
}



/*===================
      PLATFORMS
====================*/

/*  Mobile/Platforms */
.graph-mobile {
  display: none;
}

@media screen and (max-width: 330px) {

}

@media screen and (max-width: 380px) {

}

@media screen and (max-width: 420px) {

}

@media screen and (max-height: 820px) and (min-height:795px) {

}


  /*
  #graph-header { background-image: url("./assets/designs/mexicadelia_crop_HeaderFull-4web.jpg");}
  #graph-lineUp { background-image: url("./assets/designs/mexicadelia_crop_BodyFull-4web");}
  #graph-bar { background-image: url("./assets/designs/mexicadelia_crop_BarDivide-4web.jpg");}

  #graph-header {display: none;}
  #graph-lineUp {display: none;}
  #graph-bar {display: none;}
*/


/*
<header> <div class=”smallHeader”> <img src="img/MB2.png" alt="Mobile Image"/> </div>

<div class=”mediumHeader”> <img src="img/TB2.png" alt="Tablet Image"/> </div>

 <div class=”bigHeader”>
      <img src="img/B2.png" alt="Desktop Image"/>
 </div>
</header>

CSS Styling

Main CSS

.smallHeader { background-image: url (“img/MB2.png”); display: block; }
.mediumHeader { background-image: url (“img/TB2.png”); display: none; }
.bigHeader { background-image: url (“img/B2.png”); display: none; } Fluid CSS

@media screen and (min-width: 480px) {
  .smallHeader { background-image: url (“img/MB2.png”); display: none;}
  .mediumHeader { background-image: url (“img/TB2.png”); display: block; }
  .bigHeader { background-image: url (“img/B2.png”); display: none; }
}

@media screen and (min-width: 700px) {
  .smallHeader { background-image: url (“img/MB2.png”); display: none;}
  .mediumHeader { background-image: url (“img/TB2.png”); display: none; }
  .bigHeader { background-image: url (“img/B2.png”); display: block; }

}
