
@{
    Layout = "~/Views/Shared/_CustomerQuestions.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <link href="~/Styles/CustomerQuestions.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        @RenderPage("~/Views/Shared/_HeaderLayout.cshtml")
        <div id="menu">
            GatesKennedy Bid Calculator
        </div>
        @RenderPage("~/Views/Shared/_FooterLayout.cshtml")
    </body>
</html>
